{% extends 'base.html' %}
{%load static%}
{% block login-registration %}
    <div class="cont">
        <form class="form sign-in" method="POST">
            {% csrf_token %}
            <h2>Forgot Password</h2>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>

        </form>
    </div>
    {% endblock %}