<!DOCTYPE html>
{%load static%}

<html>
<head>
    <title>BMS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg" href="{% static 'img/base/favicon.ico' %}">

    <link rel="stylesheet" href="{%static 'css/login/login.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="cont">
        <form class="form sign-in" method="POST" action="{%url 'login:forgot-password'%}">
            {% csrf_token %}
            <h2>Forgot Password</h2>
            <label>
              <span>Email Address</span>
              <input type="email" name="email">
            </label>
            <button class="submit1" type="submit">Submit</button>
            <a class="forgot-pass" href="{%url 'login:signup'%}"><p>Back to signup page?</p>
            </a>
        </form>
    </div>
</body>
</html>