{% extends 'base.html' %}
{%load static%}
{% block login-registration %}
    <h6>Forgot Password</h6>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
{% endblock %}
{% block js_files %}

{% endblock %}