{% extends 'base.html' %}

{%load static%}
{% block login-registration %}
    <div class="cont">
        <form class="form sign-in" method="POST" action="/login-registration/password-reset/{{user.email}}">
            {% csrf_token %}
            <h2>Reset Password</h2>
            <div class="row">
                <div class="col-6">
                    <label for="pass" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pass" name="password" required>
                </div>
                <div class="col-6">
                    <label for="confirm_pass" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_pass" name="confirm_password" required>
                </div>
            </div>
            <br>
            <button type="submit" id="registration_submit" disabled class="btn btn-success">Submit</button>
            </form>
    </div>
    {% endblock %}
    {% block js_files %}
<script type="text/javascript" src="{% static 'js/registration.js' %}"></script>
{% endblock %}