<!DOCTYPE html>
{%load static%}

<html>
<head>
    <title>BMS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg" href="{% static 'img/base/favicon.ico' %}">

    <link rel="stylesheet" href="{%static 'css/login/login.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="cont">
        <form class="form sign-in" method="POST" action="{%url 'login:password-reset'%}">
            {% csrf_token %}
            <h2>Reset Password</h2>
            <label>
                <span>email</span>
                <input type="email" name="email">
            </label>
            <label>
                <span>New Password</span>
                <input type="password" name="password">
            </label>
            <label>
                <span>Confirm Password</span>
                <input type="password" name="confirm_password">
            </label>
            <button class="submit1" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>